:root{
	font-size: 62.5%;
  font-weight: 400;
	margin: 0 auto;
	/* width: 50%; */
}

body {
	margin: 0;
	font-family: sans-serif;
	background-color: #CAB6BD;
}
.threejs {
	height: 400px;
}

form {
	text-align: center;
}

.forms{
	display: flex;
  justify-content: center;
	flex-direction: column;
  padding: 5rem;
  gap: 5rem;
}

.light{
	display: flex;
	justify-content: center;
	gap: 5rem;
}

p{
	padding: 1rem;
	font-size: 2.1rem;
}

label{
	font-size: 2rem;
}

